# Build folders
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# EF Core Migrations Snapshot Backup
*.dbmdl

# SQL Server
*.mdf
*.ldf

# Logs
*.log

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db